@using AinAlfahd.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "_Layout";
}

<h2 class="bg-light p-3 text-center">إضافة فئة جديدة</h2>
<h3>@TempData["message"]</h3>
<div class="col-md-4 text-md-end">
    <form class="col-md-6 " asp-action="SaveCategory" asp-controller="Category" method="post">
        <div class="mb-3">
            <label asp-for="CategoryName" class="form-label">اسم الفئة</label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">إضافة</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}





