@using AinAlfahd.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Category>
@{
    ViewData["Title"] = "delCategory";
    Layout = "_Layout";

}


<div class="border border-dark" style="max-height: 38vh; overflow-y: auto;">
    <table class="table table-bordered table-striped">
        <thead class="thead-light" style="position: sticky; top: 0; background-color: gray; z-index: 999;">
            <tr>
                <th class="text-end m-1" style="background-color: gray;">تعديلات</th>
                <th class="text-end m-1" style="background-color: gray;">اسم الفئة</th>
            </tr>
        </thead>
        <tbody class="foooor">
            @foreach (var category in Model)
            {

                <tr>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-primary" asp-action="AddReciept" asp-route-id="@category.Id"><i class="fas fa-edit"></i></a>
                    </td>


                    <td class="text-end m-1">@category.CategoryName</td>

                </tr>
            }
        </tbody>
    </table>
</div>


