
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div class="container mt-2">
        <div class="row justify-content-center">
            <h3 class="text-center m-4">أدخل رقم الطلب </h3>
            <div class="col-md-8">
                <div class="d-flex justify-content-evenly">
                    <input id="OrderId" class="form-control ms-1 " type="search" placeholder="بحث" aria-label="Search">
                </div>
                <div class="d-flex m-3 justify-content-center">
                    <button class="btn btn-outline-success text-black w-25 ms-1" type="button" onclick="Search()">بحث</button>
                    <button class="buttonFixSKU btn btn-outline-warning text-black w-25 ms-1" type="button" onclick="FixSKU()">SKU تحديث </button>
                </div>
                <div id="loadingMessage" style="display: flex; justify-content:center; color: blue;">جاري تنفيذ العملية، يرجى الانتظار...</div>
                <div id="loadingMessage2" style="display: flex; justify-content:center; color: blue;"> ...SKU ( <p id="count"></p> ) تم تعديل</div>

            </div>
        </div>
    </div>

    <div class="container mt-5">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th class="text-end">SKU رقم</th>
                    <th class="text-end">رقم الطلب</th>
                </tr>
            </thead>
            <tbody id="tbody1">
            </tbody>
        </table>
    </div>

</body>
</html>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.buttonFixSKU').css('display', 'none');
            $('#loadingMessage').hide();
            $('#loadingMessage2').hide();
            console.log("jQuery is loaded and ready!");
        });

        function Search() {

            $('.buttonFixSKU').css('display', 'none');
            console.log("Search is ready!");
            const id = $('#OrderId').val();

            if (id.trim() === '') {
                alert('يرجى إدخال رقم الطلب للبحث.');
                return;
            }

            const apiUrl = `/Admin/Order/SearchAboutOrder/${encodeURIComponent(id)}`;

            $.ajax({
                url: apiUrl,
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    const tbody = $('#tbody1');
                    tbody.empty();
                    $('.buttonFixSKU').css('display', 'block');

                    if (Array.isArray(data) && data.length > 0) {
                        data.forEach(customer => {
                            tbody.append(`
                                        <tr>
                                                            <td class="text-end m-1">${customer.item.pCode}</td>
                                            <td class="text-end m-1">${customer.orderNo}</td>
                                        </tr>
                                    `);
                        });
                    } else if (data.orderNo && data.itemCode) {
                        tbody.append(`
                                    <tr>
                                                <td class="text-end m-1">${data.item.pCode}</td>
                                        <td class="text-end m-1">${data.orderNo}</td>
                                    </tr>
                                `);
                    } else {
                        alert('لم يتم العثور على بيانات العميل.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(`Error: ${xhr.status} - ${xhr.statusText}`);
                    alert('حدث خطأ أثناء البحث عن البيانات.');
                }
            });
        }

        function FixSKU(){
            console.log("Fix SKU started !");
            $('#loadingMessage').show();
            $('#loadingMessage2').hide();
            const orderId = $('#OrderId').val();

            const apiUrl = `/Admin/Order/fixSKU/${encodeURIComponent(orderId)}`;

            $.ajax({
                url: apiUrl,
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    $('#loadingMessage2').show();
                    $('#loadingMessage').hide();
                    $('#count').text(data.fixedd + ' / ' + data.total);

                },
                error: function (xhr, status, error) {
                    console.error(`Error: ${xhr.status} - ${xhr.statusText}`);
                    alert('حدث خطأ أثناء البحث عن البيانات.');
                }
            });

        }
    </script>
}
